* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: #fff;
  background: var(
    --gradientes-gradiente-hover,
    linear-gradient(90deg, #9f55ff 0%, #ff46b9 100%)
  );
}

/* Tem que aplicar a font para o botão, se não, não é aplicado */
button {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
  cursor: pointer;
  transition: 75ms;
}

.card {
  display: flex;
  padding: 4rem 6rem;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: var(--cores-cinza-dark, #1e1f28);
  box-shadow: 0 -0.1875rem 1.375rem 0 rgba(0, 0, 0, 0.35);
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  background: linear-gradient(120deg, #c497ff 30%, #9947ff 30%);
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;

  /* Hack para alinhar position:absolute no centro */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 40.875rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.25rem;
}

header button {
  background: var(
    --gradientes-gradiente-normal,
    linear-gradient(90deg, #8323ff 0%, #ff2daf 100%)
  );
}

header button:hover {
  background: var(
    --gradientes-gradiente-normal,
    linear-gradient(90deg, #a545ff 0%, #ff4fcf 100%)
  );
}

.movies {
  display: flex;
  gap: 2.25rem;
}

.movie {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 12.125rem;
}

.title,
.duration,
.year,
.title > div {
  display: flex;
  align-items: center;
  justify-items: center;
}

.info,
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > div {
  color: #feea35;
  font-size: 1rem;
  font-weight: 600;
  line-height: 90.049%;
}

/* Overflow com reticências */
.title span {
  max-width: 8.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%;
}

/* Cópia de seletor direto do inspecionar do navegador */
/* body > section > div > section > div:nth-child(2) > div.poster > img {
  width: 12.125rem;
  height: 18.0625rem;
} */

div.poster > img {
  width: 12.125rem;
  height: 18.0625rem;
}

.duration,
.year {
  gap: 0.25rem;
  color: #8b8d9b;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 166.667%;
}

.movie button {
  display: flex;
  width: 12.125rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #2b2b37;
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
}

.movie button:hover {
  background: #3c3c48;
}

@media (max-width: 500px) {
  body {
    background: #1e1f28;
  }

  .card {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  .container {
    padding: 4rem 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .container header {
    flex-direction: column;
    gap: 2rem;
  }

  .movies {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .movies::after {
    content: "";
    background: linear-gradient(120deg, #c497ff 30%, #9947ff 30%);
    height: 1rem;
    width: 100%;
  }
}
